.About {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.About .About_wrap {
  width: 100%;
  height: auto;
  margin: auto;
}

.About_wrap h1 {
  font-size: 2rem;
  font-weight: 500;
}

.About_wrap p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-color);
}

.About_wrap h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.About_wrap .Skill_shift {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 2rem;
}

.Skill_shift .Skill_first {
  width: 45%;
  height: auto;
}

.Skill_first .first_content {
  width: 100%;
  margin-bottom: 2rem;
}

.first_content .content_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content_text h1 {
  font-size: 1.4rem;
  font-weight: 550;
}

.content_text p {
  font-size: 1.4rem;
  font-weight: 550;
}

.first_content .content_line {
  width: 100%;
}

.content_line .first_line_one {
  width: 100%;
  height: 1.5vh;
  position: relative;
  background-color: rgb(199, 198, 198);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.content_line .second_line_one {
  width: 97%;
  height: 1.5vh;
  position: absolute;
  background-color: var(--blue-color);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.Skill_shift .Skill_second {
  width: 45%;
  height: auto;
}

.Skill_second .second_content {
  width: 100%;
  margin-bottom: 2rem;
}

.second_content .content_text_sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content_text_sec h1 {
  font-size: 1.4rem;
  font-weight: 550;
}

.content_text_sec p {
  font-size: 1.4rem;
  font-weight: 550;
}

.second_content_sec .content_line_sec {
  width: 100%;
}

.content_line_sec .first_line_two {
  width: 100%;
  height: 1.5vh;
  position: relative;
  background-color: rgb(199, 198, 198);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.content_line_sec .second_line_two {
  width: 97%;
  height: 1.5vh;
  position: absolute;
  background-color: var(--blue-color);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

/* First Media Query */
@media screen and (min-width: 769px) and (max-width: 1022px) {
  .About {
    width: 100%;
    height: auto;
  }

  .About .About_wrap {
    width: 100%;
    height: auto;
  }

  .About_wrap .Skill_shift {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 2rem;
  }

  .Skill_shift .Skill_first {
    width: 47%;
    height: auto;
  }

  .Skill_shift .Skill_second {
    width: 47%;
    height: auto;
  }
}

/* Second Media Query */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .About {
    width: 100%;
    height: auto;
    background-color: red;
    margin-bottom: 2rem;
  }

  .About .About_wrap {
    width: 100%;
    height: auto;
  }

  .About_wrap .Skill_shift {
    width: 100%;
    display: block;
    height: auto;
    margin-top: 2rem;
  }

  .Skill_shift .Skill_first {
    width: 100%;
    height: auto;
  }

  .Skill_shift .Skill_second {
    width: 100%;
    height: auto;
  }
}

/* Third Media Query */
@media screen and (min-width: 223px) and (max-width: 600px) {
  .About {
    width: 100%;
    height: auto;
  }

  .About .About_wrap {
    width: 100%;
    height: auto;
  }

  .About_wrap .Skill_shift {
    width: 100%;
    display: block;
    height: auto;
    margin-top: 2rem;
  }

  .Skill_shift .Skill_first {
    width: 100%;
    height: auto;
  }

  .Skill_shift .Skill_second {
    width: 100%;
    height: auto;
  }
}