.Divide {
  width: 100%;
  height: auto;
  background: var(--background-color);
}

.Divide .Divide_wrap {
  width: 82%;
  height: auto;
  margin: auto;
}

.Divide_wrap .Divide_shift {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* First Media Query */
@media screen and (min-width: 769px) and (max-width: 1022px) {
  .Divide {
    width: 100%;
    height: auto;
    background: var(--background-color);
  }

  .Divide .Divide_wrap {
    width: 82%;
    height: auto;
    margin: auto;
  }

  .Divide_wrap .Divide_shift {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* Second Media Query */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .Divide {
    width: 100%;
    height: auto;
    background: var(--background-color);
  }

  .Divide .Divide_wrap {
    width: 82%;
    height: auto;
    margin: auto;
  }

  .Divide_wrap .Divide_shift {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* Third Media Query */
@media screen and (min-width: 223px) and (max-width: 600px) {
  .Divide {
    width: 100%;
    height: auto;
    background: var(--background-color);
  }

  .Divide .Divide_wrap {
    width: 82%;
    height: auto;
    margin: auto;
  }

  .Divide_wrap .Divide_shift {
    width: 100%;
    height: auto;
    display: block;
  }
}